.testimonials
  %blockquote.testimonial
    = "Dugo sam imala predrasude prema razvikanom coachingu, ali nakon što sam se uz Tihanu uvjerila da itekako djeluje, zadovoljnije pristupan svakodnevici i nastavljam raditi na sebi."
    %span.testimonial-source V.P., Zagreb

  %blockquote.testimonial
    = "Ova dva dana natjerala su me da se zamislim o sebi, gdje sam, a gdje bi željela biti. Otkrila sam neke stvari o sebi koje sam potisnula, dobro spremila. Na papiru dokazala da imam želja - ostvarivih, da imam ciljeva koji se mogu dostići: puno hvala velikoj pomoći trenerice Tihane, uz njenu pomoć sam se ova dva dana jako dobro osjećala."
    %span.testimonial-source S.B., Osijek

  %blockquote.testimonial
    = "...spoznala sam veću snagu u sebi tj. kako mogu ubuduće posložiti svoje ciljeve u životu bez da trošim toliko energije na manje bitne stvari. Hvala."
    %span.testimonial-source Z.Č., Daruvar

  %blockquote.testimonial
    = "Dvodnevno druženje mi se jako svidjelo samom dinamikom, načinom izvedbe, interakcijom. Definitivno ću se vratiti po još. Pohvala Tihani za osmišljavanje, kreativnost, primjere i edukaciju."
    %span.testimonial-source Zagreb

  %blockquote.testimonial
    = "Bilo je jednostavno fenomenalno jer razgovarali smo o temama kojima danas čovjek teško nađe sugovornika, spoznali smo dosta toga o percepciji čovjeka. Tihana je super, super. Ovo treba proći svatko. Bilo je jako ugodno."
    %span.testimonial-source M.K., Zagreb

  %blockquote.testimonial
    = "Nisam samo zadovoljan radionicom, nego sam zadovoljan što sam otkrio tko u stvari jesam i koji su mi sljedeći ciljevi u životu i na koji način ću ih i ostvariti."
    %span.testimonial-source I.B., Zagreb

  %blockquote.testimonial
    = "Dokazala sam si da sve što radim da radim kako treba. da se ne držim stereotipa, da nisam opterećena, da sam tu da pomognem a ne da odmognem. Ako si postavim preniske zahtjeve neću biti sretna jer ja vjerujem u sebe i znam da ljudi u mom bližem okruženju također vjeruju u mene te mi trebaju viši ciljevi. Nisam zadovoljna kada se oko mene širi jad i nezadovoljstvo, to me čini nesretnom. Sve pozitivne stvari s radionice i dalje ću primjenjivati na sebi...izvrsno, produktivno.Hvala Tihana"
    %span.testimonial-source G.Š., Zagreb

  %blockquote.testimonial
    = "Ja sam shvatila da sam sebe stavila u drugi plan, da sam sve druge stavila ispred sebe: djecu, muža, obaveze, da sam uvijek svima na raspolaganju. Trebam sebe preispitati i sebi postaviti ciljeve, jer na kraju će svi otići a ja sam sve drugo smatrala važnijim. Posao koji radim pruža velike mogućnosti, samo ih treba iskoristiti. Hvala što ste mi otvorili oči."
    %span.testimonial-source Split

  %blockquote.testimonial
    = "Hvala ti što sa srcem radiš svoj posao. To se vidi."
    %span.testimonial-source I.G., Zadar

  %blockquote.testimonial
    = "Radionica je bila odlična. zabavljali smo se, smijali i plakali. Trenerica nam je sve odlično objasnila i vjerujem svih nas motivirala da ostvarimo neke svoje ciljeve i da shvatimo kakvi smo i koliko vrijedimo."
    %span.testimonial-source N.Š., Zadar

  %blockquote.testimonial
    = "Radionicu sam dočekala s radošću i mislim da je došla u pravo vrijeme za neke moje osobne odluke. Hvala."
    %span.testimonial-source M.P.M., Šibenik

  %blockquote.testimonial
    = "Draga Tihana, puno hvala na novim znanjima. Kad vas promatram kako nas educirate vidljivo je da radite od srca i da vam je važna pozitivna energija....hvala."
    %span.testimonial-source K.B., Dubrovnik

  %blockquote.testimonial
    = "Nažalost zadnja radionica u nizu. Trenerica kao i uvijek, rječita, jezgrovita, odlična u predavanju, puna primjera, uglavnom posebna!"
    %span.testimonial-source Osijek

  %blockquote.testimonial
    = "Svaka čast, uz ovu radionicu sam naučila dosta o sebi i o stvarima na koje se u budućnosti trebam fokusirati."
    %span.testimonial-source Zagreb

  %blockquote.testimonial
    = "Dobio sam znanje da svoje kvalitete i osobine više cijenim te da se razvijam prema njima a ne da ih potiskujem kako bi se ukalupio."
    %span.testimonial-source Zagreb

  %blockquote.testimonial
    = "Sada mi se sve čini lakšim i bržim."
    %span.testimonial-source Zagreb
