!!!
%html.no-js{lang: "hr", class: "l-page-#{identifier(@item)}"}
  %head
    %meta{charset: "utf-8"}
    %title tihana tamindžić#{@item[:title] ? " · #{@item[:title]}" : nil}
    %meta{name: "robots", content: "noindex"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    %link{rel: "stylesheet", type: "text/css", href: "/assets/stylesheets/application.css"}
    %link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "/assets/favicon.ico"}
    = render "partials/javascript"

  %body
    .page-wrapper
      - unless identifier(@item) == "index"
        .l-container
          = render "partials/sidebar"
        = render "partials/header"
        = render "partials/main" do
          = yield

      - else
        = yield

      = render "partials/footer"

    %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src: "/assets/javascripts/application.js"}
